@model IEnumerable<Mi_Share.ViewModels.UsersCollectionsViewModel>


@{
    ViewBag.Title = "Other Libraries";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User Name</th>
                            <th>Total Items in Library</th>
                            <th>Request Browsing Access</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><div class="pull-left image ">
    <img src="https://randomuser.me/api/portraits/men/1.jpg" class="img-circle collectionIcon" alt="User Image">
</div></td>
                                <td>@item.FullName</td>
                                <td>@item.ItemCount</td>
                                @if (item.Access.ToString().ToLower() == "granted")
                                {
                                    <td><button type="button" class="btn btn-block btn-primary btn-sm">Granted -- View</button></td>
                                }
                                else if (item.Access.ToString().ToLower() == "none")
                                {
                                    <td><button type="button" class="btn btn-block btn-primary btn-sm">Request</button></td>
                                }
                                else if (item.Access.ToString().ToLower() == "denied")
                                {
                                    <td><button type="button" class="btn btn-block btn-danger disabled btn-sm">Denied</button></td>
                                }
                                else if (item.Access.ToString().ToLower() == "pending")
                                {
                                    <td><button type="button" class="btn btn-block btn-warning disabled btn-sm">Request</button></td>
                                }

                                else
                                {
                                    <td><button type= "button" class="btn btn-block btn-primary btn-sm disabled">@item.Access.ToString()</button></td>
                                }

                            </tr>
                        }
                        

                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>