@model Mi_Share.ViewModels.ItemViewModel

@{
    ViewBag.Title = "Other Libraries";
}

<div class="row">
    <div class="col-md-6">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>User Name</th>
                  <th>Total Items in Library</th>
                  <th>Request Browsing Access</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Niyi didid</td>
                  <td>50</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-sm">Request</button></td>
                </tr>
                <tr>
                  <td>osas kkoko</td>
                  <td>7000 </td>
                  <td><button type="button" class="btn btn-block btn-success btn-sm">granted (View)</button></td>
                </tr>
                <tr>
                  <td>Kim  hiya</td>
                  <td>300</td>
                  <td><button type="button" class="btn btn-block btn-warning btn-sm">Pending</button></td>
                </tr>
               <tr>
                  <td>Koros Costa</td>
                  <td>70</td>
                  <td><button type="button" class="btn btn-block btn-danger btn-sm">Denied</button></td>
                </tr>
                <tr>
                  <td>Larry Page</td>
                  <td>0</td>
                  <td><button type="button" class="btn btn-block btn-primary btn-sm">Request</button></td>
                </tr>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
    </div>
</div>