

@{
    ViewBag.Title = "BorrowedItems";
}

<!-- Add pagedesign code below-->
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Borrowed Items</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Item no</th>
                  <th>Item Description</th>
                  <th>Owner</th>
                  <th>Date Borrowed</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Harry Potter</td>
                  <td>John Doe</td>
                  <td>11-7-2017</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Dan Brown Series</td>
                  <td>Alexander Pierce</td>
                  <td>11-7-2014</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>How to Train your Dragon</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Bla Bla Bla</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>