
<div class="box box-info">
    <div class="box-header with-border">
        <span class="label label-success pull-left">4</span>
        <h3 class="box-title">Items Requests</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Item Type</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Requester</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                        <td>Call of Duty IV</td>
                        <td>Movie</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-success">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">sam</a></td>
                        <td>
                            <button type="button" class="btn btn-xs  btn-success">grant</button>
                            <button type="button" class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR1848</a></td>
                        <td>Sam the killer</td>
                        <td>Movie</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-info">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">osas</a></td>
                        <td>
                            <button type="button" class="btn btn-xs  btn-success">grant</button>
                            <button type="button" class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>Dance for me</td>
                        <td>Music</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-success">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">niyi</a></td>
                        <td>
                            <button type="button" class="btn btn-xs  btn-success">grant</button>
                            <button type="button" class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>Smart Thinkers</td>
                        <td>Book</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-warning">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">kim</a></td>
                        <td>
                            <button type="button" class="btn btn-xs  btn-success">grant</button>
                            <button type="button" class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
</div>