

<!-- Add pagedesign code below-->
<section class="content-header">
      <h1>
        @{ViewBag.Title = "My Requests";}
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
      </ol> -->
    </section>  
    <section class="content">
      <!-- Info boxes -->
      
      <!-- /.row -->

      
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          <!-- MAP & BOX PANE -->
          
          <!-- /.box -->
          
          <!-- /.row -->

          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <span class="label label-success pull-left">4</span>
              <h3 class="box-title">Items Requests</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Item Type</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Requester</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                        <td>Call of Duty IV</td>
                        <td>Movie</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-success">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">sam</a></td>
                        <td>
                            <button type="button"  class="btn btn-xs  btn-success">grant</button>
                            <button type="button"  class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR1848</a></td>
                        <td>Sam the killer</td>
                        <td>Movie</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-info">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">osas</a></td>
                                <td>
                            <button type="button"  class="btn btn-xs  btn-success">grant</button>
                            <button type="button"  class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>Dance for me</td>
                        <td>Music</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-success">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">niyi</a></td>
                        <td>
                            <button type="button"  class="btn btn-xs  btn-success">grant</button>
                            <button type="button"  class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html">OR7429</a></td>
                        <td>Smart Thinkers</td>
                        <td>Book</td>
                        <td>6th Oct, 2016</td>
                        <td><span class="label label-warning">Shipped</span></td>
                        <td><a href="pages/examples/invoice.html">kim</a></td>
                        <td>
                            <button type="button"  class="btn btn-xs  btn-success">grant</button>
                            <button type="button"  class="btn btn-xs  btn-danger">deny</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          
          <!-- /.info-box -->
          
          <!-- /.info-box -->
          
          <!-- /.info-box -->
          
          <!-- /.info-box -->

          
          <!-- /.box -->

          <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <span class="label label-warning pull-left">4</span>
              <h3 class="box-title">Request for Library Access</h3>
              

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                <li class="item">
                  <div class="product-img">
                    <img src="https://randomuser.me/api/portraits/men/31.jpg" class="img-circle collectionIcon" alt="User Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Kenyin
                        <span class="product-description">
                          15th September; 2017.
                        </span>
                    </a>
                        <span class="label label-success pull-right">grant</span>
                        <span class="label label-danger pull-right">deny</span>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="https://randomuser.me/api/portraits/men/28.jpg" class="img-circle collectionIcon" alt="User Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Kenyin
                        <span class="product-description">
                          4th May; 2017.
                        </span>
                        <span class="label label-success pull-right">grant</span>
                        <span class="label label-danger pull-right">deny</span>
                    </a>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="https://randomuser.me/api/portraits/men/33.jpg" class="img-circle collectionIcon" alt="User Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Dosiee
                        <span class="product-description">
                          7th August; 2017.
                        </span>
                        <span class="label label-success pull-right">grant</span>
                        <span class="label label-danger pull-right">deny</span>  
                    </a>  
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="https://randomuser.me/api/portraits/men/31.jpg" class="img-circle collectionIcon" alt="User Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Wallace
                        <span class="product-description">15th September; 2017.</span>
                        <span class="label label-success pull-right">grant</span>
                        <span class="label label-danger pull-right">deny</span> 
                    </a>
                  </div>
                </li>
                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>